<app-modal (confirm)="handleModalConfirm($event)" [title]="title">
  <form class="pwd-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label for="email">{{ 'auth.email' | translate }}</mat-label>
      <input matInput type="email" formControlName="email" id="email">
    </mat-form-field>
  </form>
</app-modal>
