<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="auth-fields">
    <mat-form-field>
      <mat-label>{{ 'auth.email' | translate }}</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'auth.password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary">{{ 'auth.login' | translate }}</button>
  <p id="forgotten-pwd" (click)="resetPwd()">{{'shared.forgottenPwd'|translate}}</p>
</form>
