<h2 id="feedback-title">{{'form.feedback.title'|translate}}</h2>
<form id="feedback-form" *ngIf="!hasPostedFeedback && !spinner.isLoading()" [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="evaluation">
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : eval >= 1, 'hoverEval' : !hasPostedFeedback && hover >= 1 && eval <1}" (click)="evaluate(1)" (mouseenter)="hoverEval(1)" (mouseout)="hoverEval(0)">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : eval >= 2, 'hoverEval' : !hasPostedFeedback && hover >= 2 && eval <2}" (click)="evaluate(2)" (mouseenter)="hoverEval(2)" (mouseout)="hoverEval(0)">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : eval >= 3, 'hoverEval' : !hasPostedFeedback && hover >= 3 && eval <3}" (click)="evaluate(3)" (mouseenter)="hoverEval(3)" (mouseout)="hoverEval(0)">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : eval >= 4, 'hoverEval' : !hasPostedFeedback && hover >= 4 && eval <4}" (click)="evaluate(4)" (mouseenter)="hoverEval(4)" (mouseout)="hoverEval(0)">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : eval >= 5, 'hoverEval' : !hasPostedFeedback && hover >= 5 && eval <5}" (click)="evaluate(5)" (mouseenter)="hoverEval(5)" (mouseout)="hoverEval(0)">star</mat-icon>
  </div>
  <mat-form-field appearance="outline">
    <mat-label for="expirationDate">{{'form.field.comment'|translate}}</mat-label>
    <textarea matInput [formControlName]="'comment'" id="comment"></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary">{{'btn.confirm'|translate}}</button>
</form>
<mat-spinner *ngIf="spinner.isLoading()"></mat-spinner>
<div id="feedback-ty" *ngIf="hasPostedFeedback">
  <p id="feedback-ty">{{'form.feedback.msg'|translate}}</p>
  <div id="feedback-logo-container">
    <img [src]="logo.url" [alt]="logo.alt">
  </div>
</div>
