<header class="back-office-header">
  <h1>{{title | translate}}</h1>
  <button *ngIf="crudAction" id="crud-create-btn" mat-raised-button color="primary" (click)="emitCrud()"><mat-icon>add</mat-icon></button>
</header>
<ng-content></ng-content>
