<p id="order-status-refreshing">
  <span *ngIf="order && order.status === statusEnum.PLACED">{{'order.msg.placed'|translate}}</span>
  <span *ngIf="order && order.status === statusEnum.APPROVED">{{'order.msg.approved'|translate}}</span>
  <span *ngIf="order && order.status === statusEnum.PROVIDED">{{'order.msg.provided'|translate}}</span>
  <span *ngIf="order && order.status === statusEnum.DELIVERED">{{'order.msg.delivered'|translate}}</span>
</p>
<div id="order-recap">
  <app-cart-recap
  [franchise]="order?.restaurantName"
  [address]="order?.address"
  [details]="order?.details"
  [total]="order?.total"
  [discount]="order?.discountValue"
  [delivery]="order?.delivery?.type"></app-cart-recap>
  <app-feedback [franchise]="order?.restaurant"></app-feedback>
</div>
