<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label for="login">{{'auth.email'|translate}}</mat-label>
      <input matInput type="email" [formControlName]="'login'" id="login">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="password">{{'auth.password'|translate}}</mat-label>
      <input matInput type="password" [formControlName]="'password'" id="password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="confirm">{{'auth.confirm'|translate}}</mat-label>
      <input matInput type="password" [formControlName]="'confirm'" id="confirm">
    </mat-form-field>

    <div class="form-section-title">
      <button id="perm-add-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="addPerm()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-label>{{'form.field.perm'|translate}}</mat-label>
      <button id="perm-delete-all-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="cleanPerm()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <ng-container [formArrayName]="'permissions'" id="'permissions'">
      <ng-container *ngFor="let permForm of f.permissions.controls; let i = index">
        <div class="perm-form-field" [formGroup]="permForm">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.admin.perm'|translate}}</mat-label>
            <mat-select [formControlName]="'permId'" id="permId{{i}}">
              <mat-option class="perm-opts" *ngFor="let role of roles" [value]="role.role" (click)="toggleFranchiseInput()">
                {{role.label|translate}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-icon *ngIf="!readonly" class="delete-btn perm-delete-btn" (click)="deletePerm(i)">delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>

    <div class="form-section-title" *ngIf="hasFranchise && franchises.length > 0">
      <mat-label>{{'form.admin.franchise'|translate}}</mat-label>
    </div>

    <mat-form-field appearance="outline" *ngIf="hasFranchise && franchises.length > 0">
      <mat-label>{{'form.admin.franchise'|translate}}</mat-label>
      <mat-select [formControlName]="'franchise'" id="franchise">
        <mat-option class="franchise-opts" *ngFor="let fr of franchises" [value]="fr.id">
          {{fr.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</app-modal>
