<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label for="name">{{'form.field.name'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'name'" id="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="price">{{'form.field.price'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'price'" id="price">
    </mat-form-field>

    <div id="form-img">
      <img src="{{dwlImg}}{{image}}" *ngIf="image">

      <button *ngIf="!readonly" type="button" mat-raised-button color="primary" (click)="fileInput.click()">{{'btn.img'|translate}}</button>
      <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
    </div>

    <div class="form-section-title">
      <button id="ing-add-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="addIng()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-label for="'ingredients'">{{'form.field.ing'|translate}}</mat-label>
      <button id="ing-delete-all-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="cleanIng()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <ng-container [formArrayName]="'ingredients'" id="'ingredients'">
      <ng-container *ngFor="let ingForm of f.ingredients.controls; let i = index">
        <div class="ing-form-field" [formGroup]="ingForm">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.ing'|translate}}</mat-label>
            <mat-select [formControlName]="'ingId'" id="ingId{{i}}">
              <mat-option class="ing-opts" *ngFor="let ing of ingredients" [value]="ing.id">
                {{ing.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.qty'|translate}}</mat-label>
            <input matInput type="number" min="1" [formControlName]="'ingQty'" id="ingQty{{i}}">
          </mat-form-field>
          <mat-icon *ngIf="!readonly" class="delete-btn ing-delete-btn" (click)="deleteIng(i)">delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>

  </form>
</app-modal>
