<p id="order-status-refreshing"></p>
<div id="order-payment">
  <app-cart-recap
  [franchise]="order?.restaurantName"
  [address]="order?.address"
  [details]="order?.details"
  [total]="order?.total"
  [discount]="order?.discountValue"
  [delivery]="order?.delivery?.type"></app-cart-recap>
  <app-payment (payed)="orderIsPayed($event)"></app-payment>
</div>
