<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label for="number">{{'form.field.number'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'number'" id="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="street">{{'form.field.street'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'street'" id="street">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="postal">{{'form.field.postal'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'postal'" id="postal">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="city">{{'form.field.city'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'city'" id="city">
    </mat-form-field>

  </form>
</app-modal>
