<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label for="name">{{'form.field.name'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'name'" id="name">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="email">{{'form.field.email'|translate}}</mat-label>
      <input matInput type="email" [formControlName]="'email'" id="email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="firstname">{{'form.field.firstname'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'firstname'" id="firstname">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="lastname">{{'form.field.lastname'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'lastname'" id="lastname">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="number">{{'form.field.number'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'number'" id="number">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="street">{{'form.field.street'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'street'" id="street">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="postal">{{'form.field.postal'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'postal'" id="postal">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="city">{{'form.field.city'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'city'" id="city">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="phone">{{'form.field.phone'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'phone'" id="phone">
    </mat-form-field>

    <div class="hours-form-group" [formArrayName]="'openingHours'" id="'openingHours'">
      <h3>{{'form.field.time'|translate}}</h3>
      <ng-container *ngFor="let hoursForm of f.openingHours.controls; let i = index">
        <mat-label for="'ingId'">{{openingHours[i].value.day}}</mat-label>
        <div class="hours-form-field" [formGroup]="hoursForm">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.open'|translate}}</mat-label>
            <input matInput type="time" [formControlName]="'open'" id="open{{i}}">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.close'|translate}}</mat-label>
            <input matInput type="time" [formControlName]="'close'" id="close{{i}}">
          </mat-form-field>
        </div>
      </ng-container>
    </div>

  </form>
</app-modal>
