<app-modal (confirm)="handleModalConfirm($event)" [title]="title">
  <form class="pwd-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field>
      <mat-label for="oldPassword">{{ 'auth.oldPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="oldPassword" id="oldPassword">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="newPassword">{{ 'auth.newPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="newPassword" id="newPassword">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="confirmNew">{{ 'auth.confirmNew' | translate }}</mat-label>
      <input matInput type="password" formControlName="confirmNew" id="confirmNew">
    </mat-form-field>
  </form>
</app-modal>
