<h2 id="home-title">{{'shop.home_msg'|translate}}</h2>
<div id="home-container" *ngIf="!spinner.isLoading(); else loading">
  <ng-container *ngFor="let r of resources">
    <mat-card *ngIf="r.isActive" class="gf-card">
      <mat-card-header class="home-card-header">
        <mat-card-title>{{r.name}}</mat-card-title>
        <mat-card-subtitle>{{r.phone}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="gf-card-content">
          <p>{{r.address?.number}} {{r.address?.street}}</p>
          <p>{{r.address?.city}}</p>
        </div>
      </mat-card-content>
      <mat-card-actions class="gf-card-actions">
        <button class="recipe-detail-btn" mat-raised-button color="primary" (click)="openRestaurantModal(r.id)"><mat-icon>visibility</mat-icon></button>
        <div class="franchise-discount" *ngIf="r.discount && formatUtils.isDiscountOver(r.discount.end)">
          <p>{{formatUtils.formatDiscountPercent(r.discount.value)}}</p>
        </div>
        <a [routerLink]="[catalog, r.id]" routerLinkActive="active">
          <button class="add-to-cart-btn" mat-raised-button color="primary"><mat-icon>shopping_cart</mat-icon></button>
        </a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
<ng-template #loading>
  <mat-spinner #loading></mat-spinner>
</ng-template>
