<h2 *ngIf="title" id="catalog-title">{{franchise?.name}}</h2>
<div id="catalog-container" *ngIf="!spinner.isLoading(); else loading">
  <mat-card *ngFor="let r of resources" class="gf-card">
    <div class="catalog-card-img">
      <img *ngIf="r.photo" mat-card-image src="{{dwlImg}}{{r.photo}}" alt="Photo of a meal">
      <img *ngIf="!r.photo" mat-card-image src="assets/logo/logo-good_food-primary.svg" alt="good food logo">
    </div>
    <mat-card-content>
      <div class="gf-card-title">
        <p>{{r.name}}</p>
        <p>
          <span class="recipe-discount" *ngIf="r.activePrice">{{catalogService.formatDiscount(r)}}</span>
          <span>{{catalogService.formatPrice(r)}}</span>
        </p>
      </div>
    </mat-card-content>
    <mat-card-actions class="gf-card-actions">
      <button class="recipe-detail-btn" mat-button color="primary" (click)="openRecipeModal(r.id)"><mat-icon>visibility</mat-icon></button>
      <button class="add-to-cart-btn" mat-button color="primary" (click)="cartService.addToCart(franchise, r)"><mat-icon>shopping_cart</mat-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
<ng-template #loading>
  <mat-spinner #loading></mat-spinner>
</ng-template>
