<h2 id="order-form-title">{{title | translate}}</h2>
<form id="order-form" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field>
    <mat-label>{{'form.order.field.delivery'|translate}}</mat-label>
    <mat-select [formControlName]="'type'" id="type" (selectionChange)="deliveryModeToggle($event)">
      <mat-option class="order-form-delivery-option" [value]="deliveryMode.DELIVER">
        {{'form.order.option.delivery'|translate}}
      </mat-option>
      <mat-option class="order-form-delivery-option" [value]="deliveryMode.TAKEAWAY">
        {{'form.order.option.takeaway'|translate}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <section *ngIf="deliveryAddressNeeded">
    <div id="order-form-address-title">
      <h3 class="order-form-address">{{'form.order.field.address'|translate}}</h3>
      <button type="button" id="crud-create-btn" mat-raised-button color="primary" (click)="newAddress()"><mat-icon>add</mat-icon></button>
    </div>
    <p *ngIf="!addresses || addresses.length <= 0">{{'errors.no_address'|translate}}</p>
    <mat-radio-group *ngIf="addresses && addresses.length > 0" [formControlName]="'address'">
      <mat-radio-button class="order-form-address-option" *ngFor="let address of addresses" [value]="address.id">
        <button type="button" class="crud-delete-btn" id="crud-delete-btn{{address.id}}" mat-icon-button color="primary" (click)="deleteAddress(address.id)"><mat-icon>delete</mat-icon></button>
        {{address.number}}, {{address.street}} {{address.postal}} {{address.city}}
      </mat-radio-button>
    </mat-radio-group>
  </section>
  <button id="submit-btn" mat-raised-button color="primary">{{'btn.confirm'|translate}}</button>
</form>
