<div class="recipe-modal" *ngIf="recipe && data" id="recipe-modal">
  <h3 class="recipe-modal-title">
    <span>{{data.name}}</span>
    <span>{{catalogService.formatPrice(data)}}</span></h3>
  <div mat-dialog-content class="recipe-modal-content">
    <div class="img-container">
      <img *ngIf="recipe.photo" mat-card-image src="{{dwlImg}}{{recipe.photo}}" alt="Photo of a meal">
      <img *ngIf="!recipe.photo" mat-card-image src="assets/logo/logo-good_food-primary.svg" alt="good food logo">
    </div>
    <h4>{{'resource.ingredients'|translate}}</h4>
    <ul>
      <li class="recipe-detail-ing" *ngFor="let ing of recipe.ingredients">
        <p>{{ing.name}} (<span *ngFor="let a of ing.allergen"> {{a}} </span>)</p>
      </li>
    </ul>
  </div>
  <div class="recipe-modal-action">
    <button mat-dialog-close="true" id="confirm-modal-btn" mat-stroked-button color="primary" (click)="addToCart(data)">{{'btn.cart' | translate}}</button>
    <button mat-dialog-close="true" id="close-modal-btn" mat-stroked-button color="warn" class="crud-modal-action-close">{{'btn.close' | translate}}</button>
  </div>
</div>
