<form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="auth-fields">
    <mat-form-field>
      <mat-label>{{ 'auth.email' | translate }}</mat-label>
      <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'auth.password' | translate }}</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>{{ 'auth.confirm' | translate }}</mat-label>
      <input matInput type="password" formControlName="confirm">
    </mat-form-field>
  </div>
  <mat-checkbox id="register-checkbox" formControlName="rgpd">{{'auth.rgpd' | translate}}</mat-checkbox>
  <button mat-raised-button color="primary">{{ 'auth.register' | translate }}</button>
</form>
