<table id="order-info-table" *ngIf="tableMapper; else noData" mat-table [dataSource]="tableMapper.dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef>{{title|translate}}</th>
    <td mat-cell *matCellDef="let element"> {{element.key|translate}} </td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef></th>
    <td class="order-info-table-value" mat-cell *matCellDef="let element"> {{element.value|translate}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="tableMapper.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: tableMapper.displayedColumns;"></tr>
</table>
<ng-template #noData>
  <table id="order-info-table" mat-table [dataSource]="['empty']" class="mat-elevation-z8">

    <ng-container matColumnDef="empty">
      <th mat-header-cell *matHeaderCellDef>{{title|translate}}</th>
      <td mat-cell *matCellDef="let element"> {{'errors.noData'|translate}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['empty']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['empty'];"></tr>
  </table>
</ng-template>
