<div class="order-modal" *ngIf="data" id="order-modal">
  <h3 class="restaurant-modal-title">{{'dialog.order.title'|translate}}</h3>
  <div mat-dialog-content class="order-modal-content">
    <app-info-table [title]="infoTitle" [tableMapper]="infoMapper"></app-info-table>
    <app-table *ngIf="data && data.details"
    [dataSource]="dataSource"
    [head]="head"
    [displayedColumns]="displayedColumns"></app-table>
  </div>
  <div class="order-modal-action">
    <button mat-dialog-close="true" id="close-modal-btn" mat-stroked-button color="warn" class="crud-modal-action-close">{{'btn.close' | translate}}</button>
  </div>
</div>
