<div class="feedback-container" *ngIf="feedback && feedback.eval !== 0">
  <div class="evaluation">
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : feedback.eval >= 1}">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : feedback.eval >= 2}">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : feedback.eval >= 3}">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : feedback.eval >= 4}">star</mat-icon>
    <mat-icon class="eval-icon" [ngClass]="{'clickEval' : feedback.eval >= 5}">star</mat-icon>
  </div>
  <p class="feedback-comment" *ngIf="feedback.comment">{{feedback.comment}}</p>
  <p class="feedback-no-comment" *ngIf="!feedback.comment">{{'dialog.restaurant.nocomment'|translate}}</p>
</div>
