<div id="auth-container">
  <div class="logo-container">
    <img [src]="logo.url" [alt]="logo.alt">
  </div>
  <app-login *ngIf="default" (submitted)="login($event)"></app-login>
  <app-register *ngIf="!default" (submitted)="renderLogin($event)"></app-register>
  <div class="auth-link-container">
    <a mat-button (click)="switchForm()">
      <span *ngIf="default">{{ 'auth.register' | translate }}</span>
      <span *ngIf="!default">{{ 'auth.login' | translate }}</span>
    </a>
  </div>
</div>
