<app-back-office-page-content
[title]="title"
[crudAction]="crudConfig.includes(crudEnum.CREATE)"
(crud)="crudCreate()">
  <app-table *ngIf="innerWidth > breakpoint && !spinner.isLoading()"
  [franchise]="franchise"
  [actives]="actives"
  [crudConfig]="crudConfig"
  [dataSource]="dataSource"
  [head]="head"
  [displayedColumns]="displayedColumns"
  (crud)="crudAction($event)"></app-table>
  <app-accordion *ngIf="innerWidth <= breakpoint && !spinner.isLoading()"
  [franchise]="franchise"
  [actives]="actives"
  [crudConfig]="crudConfig"
  [dataSource]="dataSource"
  [head]="head"
  [displayedColumns]="displayedColumns"
  (crud)="crudAction($event)"></app-accordion>
  <mat-spinner *ngIf="spinner.isLoading()"></mat-spinner>
</app-back-office-page-content>
