<app-modal (confirm)="handleModalConfirm($event)" [title]="title">
  <form id="customer-info-form" [formGroup]="form" (ngSubmit)="submitForm()">
    <mat-form-field appearance="outline">
      <mat-label for="firstname">{{'form.field.firstname'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'firstname'" id="firstname">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="lastname">{{'form.field.lastname'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'lastname'" id="lastname">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="phone">{{'form.field.phone'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'phone'" id="phone">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label for="birthdate">{{'form.field.birth'|translate}}</mat-label>
      <input matInput [matDatepicker]="picker" [formControlName]="'birthdate'" id="birthdate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
</app-modal>

