<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container *ngFor="let columns of displayedColumns" matColumnDef="{{columns}}">
    <th mat-header-cell *matHeaderCellDef>{{(columns !== COLUMN_UID) ? (head[columns] | translate) : ''}}</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="columns !== COLUMN_STD && columns !== COLUMN_UID && columns !== COLUMN_PHOTO && columns !== COLUMN_EVAL">{{element[columns] | translate}}</span>
      <img *ngIf="columns === COLUMN_PHOTO && element[columns] && element[columns] !== '--'" class="table-photo" src="{{dwlImg}}{{element[columns]}}" alt="element photo">
      <div class="table-no-img" *ngIf="columns === COLUMN_PHOTO && (!element[columns] || element[columns] === '--')">
        <mat-icon>no_photography</mat-icon>
        <p>{{'errors.noImg'|translate}}</p>
      </div>
      <img class="logo-std" *ngIf="columns === COLUMN_STD && element.isStandard" src="assets/logo/logo-accent.svg" alt="logo good food">
      <div *ngIf="columns === COLUMN_EVAL">
        <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 1}">star</mat-icon>
        <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 2}">star</mat-icon>
        <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 3}">star</mat-icon>
        <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 4}">star</mat-icon>
        <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 5}">star</mat-icon>
      </div>
      <app-crud-actions *ngIf="columns === COLUMN_UID"
      [creator]="element.creator"
      [franchise]="franchise"
      [actives]="actives"
      [isStandard]="element.isStandard"
      [crudConfig]="crudConfig"
      [uid]="element[columns]"
      [status]="element.status"
      [delivery]="element.delivery"
      (crud)="crudHandler($event)"></app-crud-actions>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
