<p id="order-status-refreshing"></p>
<div *ngIf="!spinner.isLoading() && !processing; else loading" id="order-process">
  <app-cart-recap
  [franchise]="franchise?.name"
  [address]="franchise?.address"
  [details]="cart"
  [total]="cartService.getTotal()"
  [discount]="cartService.getDiscount()"></app-cart-recap>
  <app-order
  [addresses]="addresses"
  [franchise]="franchise"
  (crudAddress)="addressCrudAction($event)"
  (submitted)="createOrder($event)"></app-order>
</div>
<ng-template #loading>
  <mat-spinner #loading></mat-spinner>
</ng-template>
