<div class="restaurant-modal" *ngIf="data" id="restaurant-modal">
  <h3 class="restaurant-modal-title">{{data.name}}</h3>
  <div mat-dialog-content class="restaurant-modal-content">
    <h4 id="restaurant-discount" *ngIf="data.discount && formatUtils.isDiscountOver(data.discount.end)">{{formatUtils.formatDiscountPercent(data.discount.value)}} <span>{{'dialog.restaurant.discount'|translate}}</span></h4>
    <h4>{{'dialog.restaurant.phone'|translate}}</h4>
    <p>{{data.phone}}</p>
    <h4>{{'dialog.restaurant.address'|translate}}</h4>
    <p>{{data.address?.number}} {{data.address?.street}}</p>
    <p>{{data.address?.postal}} {{data.address?.city}}</p>
    <h4>{{'dialog.restaurant.hours'|translate}}</h4>
    <table>
      <tr *ngFor="let hours of catalogService.formatOpeningHours(data)">
        <td>{{hours.day}}</td>
        <td>{{hours.open}}</td>
        <td>{{hours.close}}</td>
      </tr>
    </table>
    <h4 *ngIf="data && data.feedbacks && data.feedbacks.length > 0">{{'dialog.restaurant.feedbacks'|translate}}</h4>
    <app-restaurant-feedback *ngFor="let feedback of data.feedbacks" [feedback]="feedback"></app-restaurant-feedback>
  </div>
  <div class="restaurant-modal-action">
    <button mat-dialog-close="true" id="close-modal-btn" mat-stroked-button color="warn" class="crud-modal-action-close">{{'btn.close' | translate}}</button>
  </div>
</div>
