<div class="crud-action-container" [ngClass]="orientation === 'vertical' ? 'crud-action-col' : ''">
  <button *ngIf="includeStandardiseAction()" id="crud-standard-{{uid}}" class="tooltip crud-action-btn crud-standard-btn" (click)="emitCrud(crudEnum.STANDARDISE)">
    <mat-icon>import_contacts</mat-icon>
    <span class="tooltiptext">{{"btn.standard"|translate}}</span>
  </button>
  <button *ngIf="includeAddAction()" id="crud-add-{{uid}}" class="tooltip crud-action-btn crud-add-btn" (click)="emitCrud(crudEnum.ADD)">
    <mat-icon>playlist_add</mat-icon>
    <span class="tooltiptext">{{"btn.add"|translate}}</span>
  </button>
  <button *ngIf="includeRemoveAction()" id="crud-remove-{{uid}}" class="tooltip crud-action-btn crud-remove-btn" (click)="emitCrud(crudEnum.REMOVE)">
    <mat-icon>playlist_remove</mat-icon>
    <span class="tooltiptext">{{"btn.remove"|translate}}</span>
  </button>
  <button *ngIf="includeManageAction()" id="crud-manage-{{uid}}" class="tooltip crud-action-btn crud-manage-btn" (click)="emitCrud(crudEnum.MANAGE)">
    <mat-icon>manage_history</mat-icon>
    <span class="tooltiptext">{{"btn.manage"|translate}}</span>
  </button>
  <button *ngIf="includeUpdateAction()" id="crud-update-{{uid}}" class="tooltip crud-action-btn crud-update-btn" (click)="emitCrud(crudEnum.UPDATE)">
    <mat-icon>edit</mat-icon>
    <span class="tooltiptext">{{"btn.put"|translate}}</span>
  </button>
  <button *ngIf="includeDeleteAction()" id="crud-delete-{{uid}}" class="tooltip crud-action-btn crud-delete-btn" (click)="emitCrud(crudEnum.DELETE)">
    <mat-icon>delete</mat-icon>
    <span class="tooltiptext">{{"btn.delete"|translate}}</span>
  </button>
  <button *ngIf="includeReadAction()" id="crud-read-{{uid}}" class="tooltip crud-action-btn crud-read-btn" (click)="emitCrud(crudEnum.READ)">
    <mat-icon>visibility</mat-icon>
    <span class="tooltiptext">{{"btn.get"|translate}}</span>
  </button>
</div>
