<div id="account-container" *ngIf="!spinner.isLoading(); else loading">
  <div id="customer-information-title">
    <h2>{{'account.info' | translate}}</h2>
    <button id="info-crud-btn" type="button" mat-raised-button color="primary" (click)="infoCRUD()">{{'btn.update' | translate}}</button>
  </div>
  <app-info-table [title]="infoTitle" [tableMapper]="infoMapper"></app-info-table>
  <div id="customer-orders" *ngIf="orders && orders.length > 0">
    <h2>{{'account.orders' | translate}}</h2>
    <app-table *ngIf="innerWidth > breakpoint"
    [crudConfig]="crudConfig"
    [dataSource]="dataSource"
    [head]="head"
    [displayedColumns]="displayedColumns"
    (crud)="crudAction($event)"></app-table>
    <app-accordion *ngIf="innerWidth <= breakpoint"
    [crudConfig]="crudConfig"
    [dataSource]="dataSource"
    [head]="head"
    [displayedColumns]="displayedColumns"
    (crud)="crudAction($event)"></app-accordion>
  </div>
</div>
<ng-template #loading>
  <mat-spinner #loading></mat-spinner>
</ng-template>
