<h2 id="cart-title">{{title | translate}}</h2>

<p id="empty-cart" *ngIf="cartService.getCart().length <= 0; else cart">{{'cart.empty'|translate}}</p>

<ng-template #cart>
  <h3 id="cart-franchise-name" *ngIf="cartService.getFranchise()">{{cartService.getFranchise()?.name}}</h3>
  <h3 id="cart-franchise-discount" *ngIf="cartService.getDiscount()">{{formatUtils.formatDiscountPercent(cartService.getDiscount())}} {{'dialog.restaurant.discount'|translate}}</h3>
  <table id="cart-table">
    <thead>
      <th></th>
      <th>{{'cart.recipe'|translate}}</th>
      <th>{{'cart.price'|translate}}</th>
      <th>{{'cart.qty'|translate}}</th>
      <th>{{'cart.total'|translate}}</th>
    </thead>
    <tr *ngFor="let item of cartService.getCart()">
      <td>
        <mat-icon (click)="cartService.removeFromCart(item.recipe)">delete</mat-icon>
      </td>
      <td>
        <span>{{item.recipeName}}</span>
      </td>
      <td>{{formatUtils.formatPrice(item)}}</td>
      <td>
        <input type="number" min="0" value="{{item.quantity}}" (input)="cartService.updateQuantity(item.recipe, $event)">
      </td>
      <td>{{formatUtils.formatItemTotal(item)}}</td>
    </tr>
  </table>
  <div id="cart-btn-container">
    <a [routerLink]="[orderUrl]" routerLinkActive="active">
      <button id="cart-btn" mat-raised-button color="primary">{{'btn.order'|translate}} {{cartService.renderTotal()}}</button>
    </a>
  </div>
</ng-template>
