<aside *ngIf="innerWidth > breakpoint" class="aside-nav" [class.minimized]="minimized" (mouseenter)="maximize()" (mouseleave)="minimize()">
  <div class="aside-nav-logo-container">
    <a class="aside-nav-logo" [routerLink]="home" routerLinkActive="active">
      <img class="aside-nav-logo-img" [class.minimized-nav-logo]="minimized" [src]="logo.url" [alt]="logo.alt">
    </a>
  </div>
  <ul class="aside-nav-container">
    <li *ngFor="let link of links" class="aside-nav-item" [class.justify-center]="minimized" [class.justify-start]="!minimized">
      <a class="aside-nav-link" [routerLink]="link.url" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
        <span [class.minimized-nav-link]="minimized">{{link.label | translate}}</span>
      </a>
    </li>
  </ul>
  <div class="aside-nav-logout-container">
    <div (click)="changePwd()" class="aside-nav-logout">
      <mat-icon>security</mat-icon>
      <span [class.minimized-nav-link]="minimized">{{'btn.security' | translate}}</span>
    </div>
    <div (click)="logout()" class="aside-nav-logout">
      <mat-icon>logout</mat-icon>
      <span [class.minimized-nav-link]="minimized">{{'btn.logout' | translate}}</span>
    </div>
  </div>
</aside>

<footer *ngIf="innerWidth <= breakpoint" class="footer-nav">
  <ul class="footer-nav-container">
    <li class="footer-nav-item">
      <a class="footer-nav-link" [routerLink]="home" routerLinkActive="active">
        <img class="footer-nav-logo-img" [src]="logo.url" [alt]="logo.alt">
      </a>
    </li>
    <li *ngFor="let link of links" class="footer-nav-item" [class.justify-center]="minimized" [class.justify-start]="!minimized">
      <a class="footer-nav-link" [routerLink]="link.url" routerLinkActive="active">
        <mat-icon>{{link.icon}}</mat-icon>
      </a>
    </li>
    <li class="footer-nav-item">
      <div (click)="changePwd()" class="footer-nav-link">
        <mat-icon>security</mat-icon>
      </div>
    </li>
    <li class="footer-nav-item">
      <div (click)="logout()" class="footer-nav-link">
        <mat-icon>logout</mat-icon>
      </div>
    </li>
  </ul>
</footer>
