<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label for="name">{{'form.field.name'|translate}}</mat-label>
      <input matInput type="text" [formControlName]="'name'" id="name">
    </mat-form-field>

    <div class="form-section-title">
      <button id="ing-add-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="addAllergen()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-label>{{'table.allergens' | translate}}</mat-label>
      <button id="ing-delete-all-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="cleanAllergens()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <ng-container [formArrayName]="'allergens'" id="'allergen'">
      <ng-container *ngFor="let allergen of f.allergens.controls; let i = index">
        <div class="ing-form-field" [formGroup]="allergen">
          <mat-form-field appearance="outline">
            <input matInput type="text" [formControlName]="'allergen'" id="allergen{{i}}">
          </mat-form-field>
          <mat-icon *ngIf="!readonly" class="delete-btn ing-delete-btn" (click)="deleteAllergen(i)">delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>

  </form>
</app-modal>
