<mat-accordion>
  <mat-expansion-panel *ngFor="let element of dataSource"
                      (opened)="element.collapse = false"
                      (closed)="element.collapse = true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p>{{element.name}}</p>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="expansion-content">
      <ul>
        <li *ngFor="let columns of displayedColumns">
          <span class="accordion-li" *ngIf="columns !== COLUMN_STD && columns !== COLUMN_EVAL &&columns !== COLUMN_UID && columns !== COLUMN_PHOTO && columns !== COLUMN_NAME">{{head[columns] | translate}} : {{element[columns] | translate}}</span>
          <img *ngIf="columns === COLUMN_PHOTO && element[columns] && element[columns] !== '--'" class="table-photo" src="{{dwlImg}}{{element[columns]}}" alt="element photo">
          <div class="table-no-img" *ngIf="columns === COLUMN_PHOTO && (!element[columns] || element[columns] === '--')">
            <mat-icon>no_photography</mat-icon>
            <p>{{'errors.noImg'|translate}}</p>
          </div>
          <img class="logo-std" *ngIf="columns === COLUMN_STD && element.isStandard" src="assets/logo/logo-accent.svg" alt="logo good food">
          <div *ngIf="columns === COLUMN_EVAL">
            <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 1}">star</mat-icon>
            <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 2}">star</mat-icon>
            <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 3}">star</mat-icon>
            <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 4}">star</mat-icon>
            <mat-icon class="eval-icon" [ngClass]="{'clickEval' : element.eval >= 5}">star</mat-icon>
          </div>
        </li>
      </ul>
      <app-crud-actions
      [creator]="element.creator"
      [uid]="element.uid"
      [status]="element.status"
      [delivery]="element.delivery"
      [franchise]="franchise"
      [actives]="actives"
      [isStandard]="element.isStandard"
      [crudConfig]="crudConfig"
      [orientation]="'vertical'"
      (crud)="crudHandler($event)"></app-crud-actions>
    </div>
  </mat-expansion-panel>
</mat-accordion>
