<div class="order-modal" id="order-modal">
  <h3 class="restaurant-modal-title">{{'resource.accounting'|translate}}</h3>
  <div mat-dialog-content class="order-modal-content">
    <h4 id="accounting-title" *ngIf="stats">{{stats?.restaurant}}</h4>
    <app-info-table [title]="statsTitle" [tableMapper]="statsMapper"></app-info-table>
    <app-table *ngIf="orders.length > 0 && breakpoint < innerWidth"
      [crudConfig]="[]"
      [dataSource]="tableMapper.rows"
      [head]="tableMapper.head"
      [displayedColumns]="tableMapper.getColumns()"></app-table>
    <app-table *ngIf="orders.length > 0 && breakpoint >= innerWidth"
      [crudConfig]="[]"
      [dataSource]="miniTableMapper.rows"
      [head]="tableMapper.head"
      [displayedColumns]="miniTableMapper.getColumns()"></app-table>
  </div>
  <div class="order-modal-action">
    <button mat-dialog-close="true" id="close-modal-btn" mat-stroked-button color="warn" class="crud-modal-action-close">{{'btn.close' | translate}}</button>
  </div>
</div>
