<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
  <app-info-table *ngIf="readonly" [title]="infoTitle" [tableMapper]="infoMapper"></app-info-table>
  <form *ngIf="!readonly" class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

    <mat-form-field appearance="outline">
      <mat-label>{{'form.field.supplier'|translate}}</mat-label>
      <mat-select [formControlName]="'supplier'" id="supplier">
        <mat-option class="ing-opts" *ngFor="let sup of suppliers" [value]="sup.id" (click)="getSupplierInfo(sup.id)">
          {{sup.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="form-section-title">
      <button id="ing-add-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="addIng()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-label for="'ingredients'">{{'form.field.ing'|translate}}</mat-label>
      <button id="ing-delete-all-btn" *ngIf="!readonly" type="button" mat-mini-fab color="primary" (click)="cleanIng()">
        <mat-icon>delete_forever</mat-icon>
      </button>
    </div>

    <ng-container [formArrayName]="'ingredients'" id="'ingredients'">
      <ng-container *ngFor="let ingForm of f.ingredients.controls; let i = index">
        <div class="ing-form-field" [formGroup]="ingForm">
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.ing'|translate}}</mat-label>
            <mat-select [formControlName]="'ingId'" id="ingId{{i}}">
              <mat-option class="ing-opts" *ngFor="let ing of ingredients" [value]="ing" (click)="updateTable()">
                {{ing.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>{{'form.field.qty'|translate}}</mat-label>
            <input matInput type="number" min="1" [formControlName]="'ingQty'" id="ingQty{{i}}" (input)="updateTable()">
          </mat-form-field>
          <mat-icon *ngIf="!readonly" class="delete-btn ing-delete-btn" (click)="deleteIng(i)">delete_forever</mat-icon>
        </div>
      </ng-container>
    </ng-container>
  </form>
  <app-table *ngIf="ing.value.length > 0"
    [dataSource]="tableMapper.rows"
    [head]="tableMapper.head"
    [displayedColumns]="tableMapper.getColumns()"></app-table>
  <h3 *ngIf="ing.value.length > 0" id="purchase-form-total">{{'form.purchase.total'|translate}}{{tableMapper.getTotal()}}</h3>
</app-modal>
