<h2 id="payment-title">{{'shop.payment'|translate}}</h2>
<mat-spinner class="spinner" *ngIf="isLoading"></mat-spinner>
<form *ngIf="!isLoading" id="payment-form" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-form-field appearance="outline">
    <mat-label for="cardNumber">{{'form.creditCard.nbr'|translate}}</mat-label>
    <input matInput type="text" [formControlName]="'cardNumber'" id="cardNumber" (input)="updateCardNbr()">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="expirationDate">{{'form.creditCard.exp'|translate}}</mat-label>
    <input matInput type="text" [formControlName]="'expirationDate'" id="expirationDate" [placeholder]="expInitValue" (input)="updateCardExp()">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label for="code">{{'form.creditCard.code'|translate}}</mat-label>
    <input matInput type="text" [formControlName]="'code'" id="code" (input)="updateCardCode()">
  </mat-form-field>
  <button mat-raised-button color="primary">{{'btn.pay'|translate}}</button>
</form>
