<h2 id="cart-recap-title">{{'cart.recap'|translate}}</h2>
<h3 id="cart-recap-franchise" *ngIf="franchise">{{franchise}}</h3>
<p id="cart-recap-address" *ngIf="address">
  <span *ngIf="delivery && delivery === 'take-away'">{{"delivery.takeaway" | translate}} : </span>
  <span *ngIf="delivery && delivery === 'deliver'">{{"delivery.deliver" | translate}} : </span>
  {{address.number}}, {{address.street}}, {{address.city}}</p>

<div class="cart-recap-cart">
  <h3 *ngIf="total" id="cart-title">{{"cart.title" | translate}}</h3>
  <table *ngIf="details" id="cart-recap-table">
    <thead>
      <th>{{'cart.recipe'|translate}}</th>
      <th>{{'cart.price'|translate}}</th>
      <th>{{'cart.qty'|translate}}</th>
      <th>{{'cart.total'|translate}}</th>
    </thead>
    <tr *ngFor="let item of details">
      <td>
        <span>{{item.recipeName}}</span>
      </td>
      <td>{{formatUtils.formatPrice(item)}}</td>
      <td>{{item.quantity}}</td>
      <td>{{formatUtils.formatItemTotal(item)}}</td>
    </tr>
  </table>
  <h4 id="cart-recap-total" *ngIf="total">
    <span>{{'cart.total'|translate}}</span>
    <span *ngIf="discount">{{formatUtils.formatDiscountPercent(discount)}}</span>
    <span>{{formatUtils.toEuroString(total)}}</span>
  </h4>
</div>
