<h4 class="auth-dialog-title">{{'auth.title.error' | translate}}</h4>
<div mat-dialog-content>
  <ul class="error-msg">
    <li *ngFor="let err of data.errors">{{err}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close color="primary">ok</button>
</div>
