
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$goodfood-desktop-primary: mat.define-palette(mat.$indigo-palette);
$goodfood-desktop-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$goodfood-desktop-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$goodfood-desktop-theme: mat.define-light-theme((
  color: (
    primary: $goodfood-desktop-primary,
    accent: $goodfood-desktop-accent,
    warn: $goodfood-desktop-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($goodfood-desktop-theme);

//colors variables
$primary-dark: mat.get-color-from-palette($goodfood-desktop-primary, 'darker');
$primary: mat.get-color-from-palette($goodfood-desktop-primary, 'default');
$primary-light: mat.get-color-from-palette($goodfood-desktop-primary, 'lighter');
$warning-dark: mat.get-color-from-palette($goodfood-desktop-warn, 'darker');
$warning: mat.get-color-from-palette($goodfood-desktop-warn, 'default');
$accent-dark: mat.get-color-from-palette($goodfood-desktop-accent, 'darker');
$text-primary: #555;
$success: #16be25;
$error: #f44437;

/* You can add global styles to this file, and also import other style files */

//shared through the app
html, body { height: 100%; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-spinner{
  margin: 0 auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
mat-label, a{
  text-transform: capitalize;
}
button{
  text-transform: uppercase;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
table{
  width: calc(100% - 40px);
  margin: 20px 20px 20px 20px;
}
th{
  background-color: $primary;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.mat-header-cell{
  color: #fff;
}
.table-photo{
  margin: 5px;
  width: 100px;
}
.table-no-img{
  display: flex;
  align-items: center;
  p{
    margin-left: 5px;
  }
}
.logo-std{
  width: 40px;
}

//materials
.mat-header-cell{
  color: #fff;
}
.mat-accordion{
  display: inline-block;
  width: calc(100% - 40px);
  margin: 20px 20px 20px 20px;
}
.mat-expansion-panel-header-title{
  color: $primary;
}
.mat-expansion-indicator::after{
  color: $primary-dark;
  font-weight: bold;
  text-transform: uppercase;
}

//auth
#forgotten-pwd{
  margin: 10px 0;
  color: $primary;
  cursor: pointer;
  text-transform: capitalize;
}
#auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  .logo-container{
    clip-path: polygon(0 45%, 100% 0, 100% 75%, 0% 100%);
    background-color: $primary-dark;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .auth-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .auth-fields{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      mat-form-field{
        width: 300px;
        margin: 0 10px;
      }
    }
  }
  .auth-link-container{
    background-color: $primary-dark;
    margin-top: 25px;
    padding: 20px 0;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    a{
      cursor: pointer;
      color: #fff;
    }
  }
}
#register-checkbox{
  margin-bottom: 25px;
  max-width: 90vw;
  label{
    width: 100%;
    white-space: normal;
    position: relative;
    .mat-checkbox-inner-container{
      margin: 0;
      margin-right: 8px;
    }
  }
}

//admin-auth
#admin-auth-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  .logo-container{
    background-color: $primary-dark;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .auth-form{
    width: 100%;
    height: calc(100vh - 375px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .auth-fields{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      mat-form-field{
        width: 300px;
        margin: 0 10px;
      }
    }
  }
}

//dialog
.auth-dialog-title{
  color: $primary-dark;
  text-transform: uppercase;
}
.error-msg{
  display: flex;
  flex-direction: column;
  li{
    color: $warning;
    margin: 5px 0;
    list-style-type: none;
  }
  li:first-letter{
    text-transform: capitalize;
  }
}

//crud-form
app-modal{
  display: block;
  max-width: 600px;
}

.crud-form, .pwd-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#form-img{
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    max-width: 250px;
    margin: 10px;
  }
}

.form-section-title{
  height: 70px;
  mat-label {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    margin: 0 40px;
  }
  color: $primary-dark;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

//info-table
app-info-table{
  width: 100%;
}

//recipe-modal && restaurant-modal
.restaurant-modal{
  width: 100%;
  max-width: 500px;
}
.recipe-modal-title, .restaurant-modal-title{
  color: $primary-dark;
  margin-bottom: 24px;
  padding-bottom: 12px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid $primary-dark;
  span{
    display: block;
  }
}
.recipe-modal-content, .restaurant-modal-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .img-container{
    display: flex;
    justify-content: center;
    img{
      width: 100%;
      max-width: 425px;
      margin: auto;
    }
  }
  h4{
    color: #555;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0;
  }
  p{
    text-transform: capitalize;
    text-align: center;
  }
  table{
    width: 250px;
    margin: auto;
    text-transform: capitalize;
    tr{
      td:nth-child(2){
        text-align: center;
      }
      td:nth-child(3){
        text-align: right;
      }
    }
  }
}
.recipe-modal-action, .restaurant-modal-action, .order-modal-action{
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  button{
    margin: 10px;
  }
}
.restaurant-modal-content.mat-dialog-content{
  margin: 0;
}

//crud-modal
.crud-modal-title{
  color: $primary-dark;
  margin-bottom: 24px;
  padding-bottom: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid $primary-dark;
}
.crud-modal-action{
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
}
.ing-form-field, .perm-form-field {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: calc(100% - (100% - 480px) / 2);
  margin: 10px 0;
  .mat-form-field-wrapper{
    padding: 0;
    margin: 0;
  }
  mat-icon{
    font-size: 24px;
    color: $primary-dark;
    cursor: pointer;
  }
}
.hours-form-group{
  width: 100%;
  h3 {
    text-transform: uppercase;
    color: $primary-dark;
    text-align: center;
    margin-bottom: 10px;
  }
}
.hours-form-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  .mat-form-field-wrapper{
    padding: 0;
    margin: 0;
  }
  mat-icon{
    font-size: 24px;
    color: $primary-dark
  }
}

//snackbar
.error-snackbar{
  background-color: $error;
  color: #fff;
  white-space: pre-wrap;
}

.success-snackbar{
  background-color: $success;
  color: #fff;
  white-space: pre-wrap;
}

//back-office
.back-office{
  display: flex;
}
app-back-office-franchise-stats, app-back-office-home{
  width: 100%;
}
#back-office-home-logo-container{
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  img{
    height: 100%;
  }
}

//aside-nav
.aside-nav{
  width: 200px;
  height: 100%;
  min-height: 100vh;
  background-color: $primary-dark;
  display:flex;
  flex-direction: column;
  align-items: center;
  transition: width 0.3s ease-in-out;
  .aside-nav-logo-container {
    display: flex;
    justify-content: center;
    padding-top: 32px;
    .aside-nav-logo-img {
      width: 100px;
      transition: width 0.3s ease-in-out;
    }
    .minimized-nav-logo{
      width: 50px;
    }
  }
  .aside-nav-container {
    padding: 10px;
    .aside-nav-item{
      padding: 10px 0;
      .aside-nav-link{
        color: #fff;
        display: flex;
        align-items: center;
        span{
          text-transform: capitalize;
          margin-left: 10px;
          width: 80px;
          opacity: 1;
          transition: all 0.5s ease-in-out;
        }
        .minimized-nav-link{
          width: 0px;
          opacity: 0;
          margin: 0px;
          overflow: hidden;
        }
      }
      .aside-nav-link:hover{
        color: $accent-dark;
      }
    }
  }
  .aside-nav-logout-container{
    margin-top: auto;
    margin-bottom: 20px;
    .aside-nav-logout {
      padding: 10px 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      span{
        margin-left: 10px;
        text-transform: capitalize;
        width: 80px;
        opacity: 1;
        transition: all 0.5s ease-in-out;
      }
      .minimized-nav-link{
        width: 0px;
        opacity: 0;
        margin: 0px;
        overflow: hidden;
      }
    }
    .aside-nav-logout:hover{
      color: $accent-dark;
    }
  }
}
.minimized{
  width: 100px;
}

//footer-nav
.footer-nav{
  width: 100%;
  background-color: $primary-dark;
  display:flex;
  justify-content: center;
  position: fixed;
  z-index: 99;
  bottom: 0;
  .footer-nav-logo-img {
    width: 40px;
  }
  .footer-nav-container {
    display:flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .footer-nav-item{
      padding: 10px 0;
      .footer-nav-link{
        color: #fff;
        .mat-icon{
          width: 28px;
        }
        .material-icons{
          font-size: 28px;
        }
      }
      .footer-nav-link:hover{
        color: $accent-dark;
      }
    }
  }
}

//header
.back-office-header{
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  margin: 0 20px;
  border-bottom: 1px solid $text-primary;
  h1{
    color: $text-primary;
    text-transform: uppercase;
  }
}

.shop-header{
  width: calc(100% - 40px);
  padding: 20px 0;
  margin: 0 20px;
  h1{
    color: $text-primary;
    text-transform: uppercase;
    text-align: center;
  }
}

//accordion
.accordion-li{
  text-transform: capitalize;
}
.expansion-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

//crud-actions
.crud-action-btn{
  color: $primary-dark;
  background-color: transparent;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 3px;
}
.crud-action-btn:hover{
  border: 1px solid $primary-dark;
  opacity: 0.7;
}
.crud-action-container{
  display:flex;
  justify-content: flex-end;
}
.crud-action-col{
  flex-direction: column;
}

//specifics
.catalog-container{
  padding: 20px;
  height: calc(100vh - 80px);
  width: 100%;
  background-image: url('../img/wip.jpg');
}

//shared
.d-none{
  display: none;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}

//shop
.shop{
  display: flex;
}

//account
#account-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customer-info-form{
  padding: 0 10px;
  mat-form-field{
    width: 300px;
  }
}

#customer-information-title{
  width: 75%;
  margin: 0 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  h2 {
    text-transform: uppercase;
    color: $primary;
    text-align: center;
    margin: 5px;
  }
  button{
    margin: 5px;
  }
}

table.mat-calendar-table{
  margin: 0;
}

#customer-info-form{
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#customer-orders{
  width: 100%;
  margin-top: 40px;
  h2{
    text-transform: uppercase;
    text-align: center;
    color: $primary;
  }
}

//order && cart
#order-form-title,
#cart-title,
#cart-recap-title,
#payment-title,
#feedback-title{
  text-align: center;
  text-transform: uppercase;
  color: $primary;
}
#empty-cart{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  color: $warning-dark;
  font-size: 24px;
  padding-top: calc((100vh - 170px)/2);
}
#cart-franchise-name{
  color: #555;
  text-transform: capitalize;
  text-align: center;
}
#cart-franchise-discount{
  color: $accent-dark;
  text-transform: lowercase;
  text-align: center;
}
table#cart-table{
  th{
    width: 70px;
  }
  th:nth-child(2){
    width: auto;
  }
  td{
    width: 70px;
  }
  td:nth-child(2){
    width: auto;
  }
}
#cart-table{
  max-width: 800px;
  margin: 24px auto;
  td{
    text-align: center;
    border-bottom: 1px solid $primary;
  }
  td:nth-child(2){
    text-align: left;
    white-space: wrap;
    word-break: break-all;
  }
  input{
    width: 40px;
    margin: 0 auto;
  }
  mat-icon{
    cursor: pointer;
    color: $primary-dark;
  }
  mat-icon:hover{
    opacity: 0.7;
  }
}
#cart-btn-container{
  display:flex;
  justify-content: center;
}
#order-process, #order-payment, #order-recap{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
#cart-recap-franchise{
  margin: 40px 0px 20px 0px;
  text-align: center;
  min-width: 300px;
  color:#555;
  text-transform: uppercase;
}
#cart-recap-address{
  margin: 0px 0px 40px 0px;
  text-align: center;
  min-width: 300px;
  text-transform: capitalize;
}
#cart-recap-table{
  margin: 24px auto 40px auto;
  th{
    padding: 3px;
    font-size: 16px;
  }
  td{
    text-align: center;
    text-transform: capitalize;
  }
  td:first-child{
    text-align: left;
  }
}
#cart-recap-total{
  color: $primary-dark;
  display: flex;
  justify-content: center;
  span{
    margin: 0px 10px;
  }
  span:nth-child(1){
    text-transform: uppercase;
  }
  span:nth-child(2){
    color: $accent-dark;
  }
}
.cart-recap-cart{
  margin-bottom: 20px;
}
#order-form-address-title{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 10px;
  h3, button{
    margin: 5px;
  }
}
#order-form{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  section{
    padding: 0 10px;
  }
  h3{
    text-align: center;
    text-transform: capitalize;
    color: $primary;
  }
  mat-radio-button{
    margin: 10px 0;
  }
  #submit-btn{
    margin-top: 40px;
  }
  p{
    margin: 20px;
    text-align: center;
    background-color: $warning;
    color: #fff;
    padding: 10px;
    border-radius: 9999px;
  }
  mat-radio-group{
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    .mat-radio-label{
      white-space: normal;
    }
  }
}
.mat-option-text, mat-select{
  text-transform: capitalize;
}
#order-status-refreshing{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  height: 20px;
  line-height: 20px;
  span{
    text-align: center;
    text-transform: uppercase;
    color: $accent-dark;
    font-weight: bold;
  }
}

//spinner
.spinner{
  width: 300px;
}

//purchase
#purchase-form-total{
  margin-left: 20px;
  text-transform: uppercase;
  color: $primary;
}

//payment
#payment-form{
  margin-top: 40px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  mat-form-field{
    width: 45%;
  }
  mat-form-field:first-child{
    width: 100%;
  }
  button{
    width: 100%;
  }
}

//feedback
#feedback-form{
  margin: 40px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  mat-form-field{
    width: 100%;
    textarea{
      width: 100%;
      height: 150px;
    }
  }
  button{
    width: 100%;
  }
}
.evaluation{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.eval-icon{
  color: #f1f1f1;
}
.clickEval{
  color: $primary;
}
.hoverEval{
  opacity: 0.5;
  color: $primary;
}

.feedback-container{
  border: 1px solid $primary;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px;
  .feedback-comment, .feedback-no-comment{
    text-align: justify;
    text-transform: lowercase;
  }
  .feedback-no-comment{
    color: $accent-dark;
  }
}
#feedback-ty{
  color: $accent-dark;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  p {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }
}

//home
#home-title{
  text-transform: capitalize;
  color: $primary;
  text-align: center;
  margin: 20px 0;
}

#home-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 70px;
  min-height: 80vh;
  margin: auto;
}

.home-card-header{
  color: $primary;
  text-align: center;
  .mat-card-header-text{
    width: 100%;
    mat-card-title{
      text-transform: uppercase;
    }
  }
}

//order-modals
.order-info-table-value{
  word-break: break-all;
}
#dialog-status-msg{
  text-align: center;
  text-transform: uppercase;
  margin: 20px 0;
  color: $primary;
}

//catalog & card
#catalog-title{
  text-transform: uppercase;
  color: $primary;
  text-align: center;
  margin: 20px 0;
}
#catalog-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 70px;
}
.gf-card.mat-card{
  width: 300px;
  height: auto;
  margin: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.gf-card-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  p {
    span {
      margin: 0 10px;
    }
  }
}
.gf-card-content{
  text-transform: capitalize;
  text-align: center;
}
.mat-card-actions{
  display: flex!important;
  justify-content: space-between;
  align-items: center;
}
.catalog-card-img{
  overflow: hidden;
  height: 200px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.franchise-discount{
  background-color: $accent-dark;
  color:#fff;
  width: 35px;
  height: 35px;
  border-radius: 9999px;
  font-size: 14px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#restaurant-discount{
  background-color: $accent-dark;
  color:#fff;
  margin: 10px 0;
  width: 100%;
  text-align: center;
  border-radius: 3px;
  text-transform: lowercase;
}
.recipe-detail-ing{
  p {
    text-transform: capitalize;
    span {
      font-style: italic;
    }
  }
}
.recipe-discount{
  text-decoration: line-through;
  color: $accent-dark;
}

//accounting
#accounting-title{
  text-transform: uppercase;
  color: #555;
  text-align: center;
}

//tooltip
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  font-size: 12px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@media screen and (min-width: 600px){
  #home-container{
    max-width: 65vw;
  }
  #order-modal{
    width: 65vw;
  }
}

@media screen and (max-width: 425px){
  table, .mat-accordion{
    margin: 20px 20px 84px 20px;
  }
  #order-info-table{
    margin: 20px 0px;
    width: 100%;
  }
  app-table{
    table{
      margin: 20px 0px;
      width: 100%;
    }
  }
  .form-section-title mat-label{
    margin: 0 15px;
  }
  #customer-info-form{
    mat-form-field{
      width: 250px;
    }
  }
  .restaurant-modal-content.mat-dialog-content{
    padding: 0;
    table{
      width: 200px;
    }
  }
}

@media screen and (max-width: 630px){
  .ing-form-field, .perm-form-field {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  #customer-information-title{
    width: 90%;
    justify-content: space-around;
  }
  #register-checkbox{
    max-width: 300px;
  }
  table#cart-table{
    width: 100%;
    th{
      width: 30px;
    }
    th:nth-child(2){
      width: auto;
    }
    td{
      width: 30px;
    }
    td:nth-child(2){
      width: auto;
    }
  }
}

