
<app-modal (confirm)="handleModalConfirm($event)" [title]="title" [readonly]="readonly">
    <form class="crud-form" [formGroup]="form" (ngSubmit)="submitForm()">

      <mat-form-field appearance="outline">
        <mat-label for="value">{{'table.value'|translate}}</mat-label>
        <input matInput type="number" [formControlName]="'value'" id="value">
      </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label for="start">{{'table.start'|translate}}</mat-label>
            <input matInput [matDatepicker]="picker" [formControlName]="'start'" id="start">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="end">{{'table.end'|translate}}</mat-label>
            <input matInput [matDatepicker]="picker2" [formControlName]="'end'" id="end">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>

          <div>
            <mat-form-field appearance="outline">
                <mat-label>{{'resource.recipe'|translate}}</mat-label>
                <mat-select [formControlName]="'recipe'" id="recipe">
                  <mat-option class="ing-opts" *ngFor="let rec of recipes" [value]="rec.id">
                      {{rec.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          </div>

    </form>
  </app-modal>
