<h3 class="crud-modal-title">{{title | translate}}</h3>
<div mat-dialog-content class="crud-modal-content">
  <ng-content></ng-content>
</div>
<div class="crud-modal-action">
  <button *ngIf="!readonly" id="confirm-modal-btn" mat-stroked-button color="primary" (click)="submission(true)">{{'btn.confirm' | translate}}</button>
  <button id="close-modal-btn" mat-stroked-button color="warn" class="crud-modal-action-close" (click)="submission(false)">{{(readonly ? 'btn.close' : 'btn.cancel') | translate}}</button>
</div>
